<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="<%=story["link"]%>">  
        <%=story["title"]%>    
      </a>
    </h3>
  </div>
  <div class="panel-body panel-extras">
    <div class="image">
      <img class="center-block image-fit" src="<%=story["img_src"]%>" alt="<%=story["title"]%>">
      <button type="button"
              class="btn btn-default btn-up"
              train="<%=story['title']%>"
              topic="<%=@topic%>">
        <span class="glyphicon glyphicon-ok"></span><span class="btn-text">Apt</span>
      </button>
      <button type="button"
              class="btn btn-default btn-down"
              train="<%=story['title']%>"
              topic="<%=@topic%>">
        <span class="glyphicon glyphicon-remove"></span><span class="btn-text">Off-topic</span>
      </button>
    </div>
  </div>
</div>