<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="<%=story["link"]%>">  
        <%=story["title"]%>    
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="image">
      <img src="<%=story["img_src"]%>" alt="<%=story["title"]%>">
    </div>
    <div class="btn-group" role="group">
      <%= submit_tag "UP", :class => "btn btn-default up-btn" %>
      <%= submit_tag "DOWN", :class => "btn btn-default down-btn" %>
    </div>
  </div>
</div>