<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeBase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <%= link_to image_tag("logo.png", height: '40', width: '225', id:"logo-img"), root_path %>
		    </div>

        <form class="navbar-form navbar-right" role="search">
          <input type="text" id="current-topic" placeholder="Choose a topic below or type one in" class="form-control">
          <button id="topic-submit" class="btn btn-default" href='/topic?topic='>Learn More About This Topic</button>
        </form>
		  </div>
		</nav>

  <div class="container main-content">
    <div class="row" id="error-message">
    </div>
    <div id="yielded-content">
      <%= yield %>
    </div>
  </div> 

  <div class="footer-text">
      <div class="footer-text-left">
        <div class="menu">
          <ul>
            <li>
              <%= link_to "About KnowledgeBase", staticpages_about_path %>
            </li>
            <li>
              <a href="https://twitter.com/flatironschool">
                <i class="icon-twitter icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/FlatironSchool">
                <i class="icon-facebook-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/flatironschool">
                <i class="icon-camera-retro icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/company/the-flatiron-school">
                <i class="icon-linkedin-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/flatiron-school">
                <i class="icon-github-alt icon-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-text-right">
        <div class="copyright">Made with ♥ @ The Flatiron School by <%= link_to "Karim Butt", "https://twitter.com/karimbutt", target:"_blank" %> & <%= link_to "Elizabeth Wolensky", "https://twitter.com/sailor_flares", target:"_blank" %></a></div>
      </div>
      <div class="clear"></div>
    </div>   
  

</body>
</html>
